<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/Redfield Memgraph Nodes"
            deprecated="false"
            factory-class="se.redfield.knime.memgraph.reader.ReaderFactory">
      </node>
      <node
            category-path="/community/Redfield Memgraph Nodes"
            deprecated="false"
            factory-class="se.redfield.knime.memgraph.connector.ConnectorFactory">
      </node>
      <node
            category-path="/community/Redfield Memgraph Nodes"
            deprecated="false"
            factory-class="se.redfield.knime.memgraph.writer.WriterFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/redfield_logo.png"
            level-id="Redfield Memgraph Nodes"
            locked="true"
            name="Redfield Memgraph Nodes"
            path="/community">
      </category>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="red"
            hidden="false"
            name="se.redfield.knime.memgraph.memgraphconnector"
            objectClass="se.redfield.knime.memgraph.connector.ConnectorPortObject"
            objectSerializer="se.redfield.knime.memgraph.connector.ConnectorPortObjectSer"
            specClass="se.redfield.knime.memgraph.connector.ConnectorSpec"
            specSerializer="se.redfield.knime.memgraph.connector.ConnectorSpecSer">
      </portType>
   </extension>
</plugin>
